{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}  
<div class="Create Task">
    <h3>Create Your Task Down Here! </h3>
    <form method="POST" action="">
        {% csrf_token %}
        <table>  
            {{ form.as_table }}  
            <tr>  
                <td></td>
                <td><input type="submit" name="submit" value="Save"/></td>  
            </tr>  
        </table>  
    </form>

{% if messages %}  
    <ul>   
        {% for message in messages %}  
            <li>{{ message }}</li>  
            {% endfor %}  
    </ul>   
{% endif %}

</div>  
{% endblock content %}