{% extends 'base.html' %}

{% block content %}
<meta name="viewport", content="width=device-width, initial-scale=1.0">
<style>
  p{
    text-align: left;
    }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
 

</style>


<body style="background-color: rgb(65, 57, 103);">
<div>


    <nav class="navbar" style="background-color: #7b7a81;">
      <div class="container-fluid">
        <h6 class="text-white" style="margin-bottom: 4px">Username : {{username}} Todo's </h6>
        <h6 class="text-white" style="margin-bottom: 4px">Sesi terakhir login: {{ last_login }}</h6> 
        <button style="margin-left: 20px;""><a href="{% url 'todolist:create' %}">Add task</a></button>

        <button class="text-white" style="margin-right: 10px" class="btn btn-outline-success me-2" type="button"><a href="{% url 'todolist:logout' %}">Logout</a></button>
      </div>
    
    </nav>
    <div class = "todolist" ALIGN="center">
        <h1 class="text-white"> To Do List 📚 </h1> 
        <h6 class="text-white">Hi, Write down your task!</h6>
    </div>


    <div class="grid-container" >
      {% for todo in list_todos %}
        <div class="grid-container"  >
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Assigment</h5>
                  <p>Date : {{todo.date}}</p>
                  <p>Task : {{todo.title}} </p>
                  <p>Description : {{todo.description}} </p>
                  <p><button><a href="{% url 'todolist:delete' todo.id %}"> Delete</a></button></p>
                
            </div>
          </div>
        </div>
      {% endfor %}
      
    </div>

      
  

</div>
</body>
  

{% endblock content %}