{% extends 'base.html' %}

{% block content %}
<div class = "todolist" ALIGN="center">
    <h1>Assigment 4 : To Do List! 📚 </h1> 
</div>

<h3 style="margin-bottom: 5px">Username : {{username}} Todo's </h3>
<h5 style="margin-top:1px">Sesi terakhir login: {{ last_login }}</h5>

<button style="margin-bottom: 20px;""><a href="{% url 'todolist:create' %}">Add task</a></button>

<table style="width:100%;border:1px solid rgb(0, 0, 0)">
    <tr style="border:1px solid black; text-align: center; background-color: rgb(148, 191, 243);">
        <td style="border:1px solid black">Date</td>
      <td style="border:1px solid black">Task</td>
      <td style="border:1px solid black">Description</td>
    </tr>

    {% for todo in list_todos %}
        <tr style="border:1px solid black">
            <td style="border:1px solid black">{{todo.date}}</td>
            <td style="border:1px solid black">{{todo.title}}</td>
            <td style="border:1px solid black">{{todo.description}}</td>
        </tr>
    {% endfor %}
  </table>
  <div class = "logout" ALIGN="center">
    <button style="margin-top: 20px;"><a href="{% url 'todolist:logout' %}">Logout</a></button>
  </div>


  

{% endblock content %}